<!-- <div>
    <form action="javascript:void;">
<div>
  
    <input type="text" name ="valuek" #vx (input)="value1=$event.target.value" value="{{value1}}">
==={{value1}}
</div>
<div>
        <input type="text" (input)="value2=$event.target.value" value="{{value2}}">
        ==={{value2}}
       
    </div>
<button *ngFor="let i of [1,2,3,4]" (click)="calculate(i)">{{i}}</button>




<div>
    <input type="text" value="{{result}}">

</div>


</form> -->
<!-- <div>
    <form action="javascript:void">
    <div *ngif="operator=='' && result ==0">
        <input type="text" (input)="value1=$event.target.">
        <table>
            <tr>
                <td>
                    <input type="text" (input)="inputEvent($event)">
               </td>
            </tr>
        </table>
    </div>
</form></div> -->